<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secondlab</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lab.css') }}">
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="header__inner">
                <div class="header__logo">
                    Crypta
                </div>
                <nav class="nav">
                    <a class="nav__link" href="/index">Home</a>
                    <a class="nav__link" href="/lab1">Lab 1</a>
                    <a class="nav__link active" href="#">Lab 2</a>
                    <a class="nav__link" href="/lab3">Lab 3</a>
                    <a class="nav__link" href="/project">Project</a>
                </nav>
            </div>
            <hr class="header__line">
        </div>
    </header>

    <main class="main">
        <div class="lab__container">
            <nav class="lab__nav" id="labs_menu">
                <ul class="nav__list">
                    <li><a class="nav__element active" id="simple_numbers" onclick="simple_numbers()">Simple numbers</a>
                    </li>
                    <li><a class="nav__element" id="ded_system" onclick="ded_system()">Reduced deduction system</a></li>
                    <li><a class="nav__element" id="euler_function" onclick="euler_function()">Euler function</a></li>
                    <li><a class="nav__element" id="decomposition" onclick="decomposition()">Decomposition</a></li>
                    <li><a class="nav__element" id="fast_pow_mod" onclick="fast_pow_mod()">Fast pow mod</a></li>
                    <li><a class="nav__element" id="euclid_alg" onclick="euclid_alg()">Euclidean algorithm</a></li>
                    <li><a class="nav__element" id="bin_euclid_alg" onclick="bin_euclid_alg()">Binary Euclidean
                            algorithm</a></li>
                    <li><a class="nav__element" id="rsa" onclick="rsa()">RSA</a></li>
                </ul>
            </nav>

            <div class="decision__container">
                <div class="answer" id="answer"></div>
                <div class="form__container" id="form">
                    <form class="lab__form" name="lab_form">
                        <div class="from__title">Enter data</div>
                        <div class="form__group">
                            <input class="form__input" name="first_data" placeholder=" ">
                            <label class="form__label">m</label>
                        </div>
                        <div onclick="submit_click()" class="btn">SEND</div>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <footer class="footer">
        <hr class="header__line">
    </footer>
    <script src="{{ url_for('static', filename='js/index_lab2.js') }}"></script>
</body>

</html>